<body>

        <div id="doc2" class="resume-t7">
            <div id="inner">
            
                <div id="hd">
                    <div class="resume-gc">
                        <div class="resume-u first">
                            <h1>Chris Van Bibber</h1>
                        </div>
        
                        <div class="resume-u">
                            <div class="contact-info">
                                <h3><a href="cgv1001@sru.edu">cgv1001@sru.edu</a></h3>
                                <h3>724-610-7581</h3>
                            </div><!--// .contact-info -->
                        </div>
                    </div><!--// .resume-gc -->
                </div><!--// hd -->
        
                <div id="bd">
                    <div id="resume-main">
                        <div class="resume-b">
        
                            <div class="resume-gf">
                                <div class="resume-u first">
                                    <h2>Objective</h2>
                                </div>
                                <div class="resume-u">
                                    <p class="enlarge">
                                        I am a highly driven individual that wants to make a positive mark in the IT industry. I feel that whatever company brings me on gains a tremendously talented employee that enjoys being part of a team but also has the ability to work alone.
                                    </p>
                                </div>
                            </div><!--// .resume-gf -->
        
                            <div class="resume-gf">
                                <div class="resume-u first">
                                    <h2>Skills</h2>
                                </div>
                                <div class="resume-u">
                                    <ul class="talent">
                                        <li>Ability to transfer data across cellular devices</li>
                                        <li>Patient and quick to learn</li>
                                        <li>Microsoft Word, Excel, PowerPoint, and Access</li>
                                        <li>Advanced knowledge of wearable devices</li>
                                        <li>Android and iOS operating system knowledge</li>
                                        <li>Customer Service and Tech Support</li>
                                        <li class="last">Effective Speech and Communication</li>
                                    </ul>
                                </div>
                            </div><!--// .resume-gf-->
        
                            <div class="resume-gf">
                                <div class="resume-u first">
                                    <h2>Awards</h2>
                                </div>
                                <div class="resume-u">
                                    <ul class="talent">
                                        <li>Senior Superlative for Most Tech Savvy</li>
                                        <li>DMAC Award of Excellence in Special Effects</li>
                                        <li class="last">Eagle Scout</li>
                                    </ul>
                                </div>
                            </div><!--// .resume-gf-->
        
                            <div class="resume-gf">
            
                                <div class="resume-u first">
                                    <h2>Professional Experience</h2>
                                </div><!--// .resume-u -->
        
                                <div class="resume-u">
        
                                    <div class="job">
                                        <h2>T-ROC</h2>
                                        <h3>Mobile Sales Associate</h3>
                                        <h4>2017-2018</h4>
                                        <ul>
                                            <li>Helped familiarize new hires with sales model and cellular transactions</li>
                                            <li>Lead the team in sales since introduction and maintained top 3 in market</li>
                                            <li>Experienced and overcame wireless transaction issues</li>
                                            <li>Exercised customer service skills</li>
                                            <li>Helped lead the market with conference calls</li>
                                            <li>CE Test Store</li>
                                        </ul>
                                    </div>
                                    
                                    <div class="job">
                                        <h2>ATT</h2>
                                        <h3>Retail Sales Consultant</h3>
                                        <h4>2018-Present</h4>
                                        <ul>
                                            <li>Opened new location</li>
                                            <li>Buisness Expert</li>
                                            <li>Maintained 100% attainment</li>
                                            <li>Organized buisness meetings</li>
                                            <li>Cold calling</li>
                                            <li>Customer Service</li>
                                        </ul>
                                    </div>
                                </div><!--// .resume-u -->
                            </div><!--// .resume-gf -->
        
        
                            <div class="resume-gf last">
                                <div class="resume-u first">
                                    <h2>Education</h2>
                                </div>
                                <div class="resume-u">
                                    <h2>Penn-Trafford High School (2016)</h2>
                                    <h2>Westmoreland County Community College (2016-2018)</h2>
                                    <h2>Slippery Rock University (2018-Present)</h2>
                                    <h3>Information Technology</h3>
                                </div>
                            </div><!--// .resume-gf -->
        
        
                        </div><!--// .resume-b -->
                    </div><!--// resume-main -->
                </div><!--// bd -->
            </div><!-- // inner -->
        
        
        </div><!--// doc -->
        
        
        </body>